<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <servers>
    <server>
      <id>registry</id>
      <username>gitlab-ci-token</username>
      <password>${env.CI_JOB_TOKEN}</password>
      <configuration>
        <email>man4j@ya.ru</email>
      </configuration>
    </server>
  </servers>
</settings>